.box {
	background-color: white;
	border: none;
	border-radius: 10%;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.44);
	width: 5rem;
	height: 5rem;
	text-align: center;
	font-size: 5rem;
	font-family: "Fredoka", sans-serif;
	font-weight: bold;
	line-height: 5rem;
	margin: 0.5rem;
}



.box.x {
	color: red;
}

.box.o {
	color: blue;
}
.box.true:hover {
	box-shadow: 0px 0px 2px 4px pink;
}

.box.false:hover {
	box-shadow: 0px 0px 2px 4px lightblue;
}