.scoreboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 10em;
    min-height: 1em;
    font-size: 1.5em;
    margin: 2rem auto;
    border-radius: 10px;
    font-weight: bold;
}
.true{
    background-color: pink;
    border: pink;
}
.false{
    background-color: lightblue;
    border: blue;
}